In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import scipy.stats as st
import datetime

from scipy.stats import linregress
from pprint import pprint

from config import weather_api_key
from config import geoapify_key

from citipy import citipy

In [3]:
resort_city_data_df = pd.read_csv("Resources/resort_city_crime_weather_df.csv", index_col="City_ID")

resort_city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country_x,Date,Rank,Crime Index,Safety Index,Country_y
City_ID,,,,,,,,,,,,,
0,moengo,5.6167,-54.4000,30.56,62,77,2.59,SR,2023-04-28 10:40:29,NaN,NaN,NaN,NaN
1,ribeira grande,38.5167,-28.7000,17.65,67,40,9.77,PT,2023-04-28 10:40:29,NaN,NaN,NaN,NaN
2,hawaiian paradise park,19.5933,-154.9731,21.05,93,0,2.57,US,2023-04-28 10:40:29,NaN,NaN,NaN,NaN
3,yaren,-0.5472,166.9160,28.05,79,96,6.30,NR,2023-04-28 10:40:30,NaN,NaN,NaN,NaN
4,lihue,21.9789,-159.3672,20.97,89,100,5.14,US,2023-04-28 10:40:30,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4374,tecuala,22.3986,-105.4569,31.52,29,19,3.14,MX,2023-04-28 11:05:42,NaN,NaN,NaN,NaN
4375,swellendam,-34.0226,20.4417,15.90,57,7,2.28,ZA,2023-04-28 11:05:42,NaN,NaN,NaN,NaN
4376,jalalabad,34.4265,70.4515,24.27,48,40,0.93,AF,2023-04-28 11:05:42,NaN,NaN,NaN,NaN
4377,pho chai,16.3283,103.7703,32.68,54,16,2.55,TH,2023-04-28 11:05:43,NaN,NaN,NaN,NaN
4378,talisay,10.2447,123.8494,28.01,83,20,3.09,PH,2023-04-28 11:05:43,NaN,NaN,NaN,NaN